<h2>プロフィールを編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <%= render :partial => 'devise_shared/form', :locals => {:f => f, :model => "Person", :is_edit => true} %>

<% end %>

<%= link_to "戻る", :back %>
